body {
  background-color: #b0c4de;
  background: url(../img/mmoMainBG.png) no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6, p {
  color:#666666;
}

p {
  font-size: 1.2em;
}

.pagePortal {
  width: 1100px;
  overflow: auto;
  clear: both;
  margin: 0 auto;
  background-color: #D9E4E6;
  padding-bottom: 20px;
}

.container {
  max-width: 1080px;
  margin: 0px auto;
}

header {
  height:140px;
  background: transparent;
  width:1100px;
  margin:0px auto;
  font-family: 'Alice', serif;
  font-size: 1.4em;
  color: #8B8D8D;
}

.moveLogo {
  margin: 0 0 0 35px;

}

.moveNavBar {
  transform: translate(0%,80%);
}

a {
  color: #8B8D8D;
}

/* mouse over link */
a:hover {
    color: #666666;
}

/* selected link */
a:active {
    color: #666666;
}


footer {
  height: 310px;
  width:1100px;
  margin:0px auto;
   background: url(../img/Purple-BG.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FDFDFD;
}

.footerLightText {
  opacity: 0.5;
  color: #FDFDFD;
}

/* footer link */
.footerLink {
  color: #FDFDFD;
}

.footerText {
 color: #FDFDFD;
}

/* footer link */
.footerLink:hover {
    color: #FDFDFD;
}

/* footer link */
.footerLink:active {
    color: #FDFDFD;
}

.textAlignLeft {
  text-align: left;
}

.footerMargin {
  margin: 40px 0px 0px 0px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.navbar-text {
    float: none;
}

/**** ui bootstrap calendar styles ****/

/**** size of calendar ****/
.my-datepicker .btn {
    padding: 12px 12px;
    font-size: 1.2em;
}

/**** Event Highlight ****/
.full button span {
    background-color: green;
    color: black;
    padding: 15px 10px;
    border-radius: 5px;
  }

  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

/**** Current Day Select ****/
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #39B9D7;
    border-color: grey;
}

button {
     background-color: green;
    color: black;
    padding: 10px 20px 10px 20px;
}

/**** Time Select CSS ****/
select {
 margin: 5px;
 /*width: 10%;*/
 font-size: 1.2em;
}

/**** Enable use of ng-cloak to hide brackets {{}} on page load ****/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
 }


/**** CSS for fade in and out messages ****/
.show-hide {
  padding:10px;
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.show-hide.ng-hide {
  opacity:0;
}
/******************************************/









.btn-custom-green {
  background-color: hsl(110, 83%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#33d113", endColorstr="#27a30f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#33d113), to(#27a30f));
  background-image: -moz-linear-gradient(top, #33d113, #27a30f);
  background-image: -ms-linear-gradient(top, #33d113, #27a30f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33d113), color-stop(100%, #27a30f));
  background-image: -webkit-linear-gradient(top, #33d113, #27a30f);
  background-image: -o-linear-gradient(top, #33d113, #27a30f);
  background-image: linear-gradient(#33d113, #27a30f);
  border-color: #27a30f #27a30f hsl(110, 83%, 32.5%);
   color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
  font: normal 18px/1.2em "pt-sans", Helvetica, sans-serif;
}

.btn-custom-blue {
  background-color: hsl(208, 83%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1379d1", endColorstr="#0f5ea3");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1379d1), to(#0f5ea3));
  background-image: -moz-linear-gradient(top, #1379d1, #0f5ea3);
  background-image: -ms-linear-gradient(top, #1379d1, #0f5ea3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1379d1), color-stop(100%, #0f5ea3));
  background-image: -webkit-linear-gradient(top, #1379d1, #0f5ea3);
  background-image: -o-linear-gradient(top, #1379d1, #0f5ea3);
  background-image: linear-gradient(#1379d1, #0f5ea3);
  border-color: #0f5ea3 #0f5ea3 hsl(208, 83%, 32.5%);
   color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
  font: normal 18px/1.2em "pt-sans", Helvetica, sans-serif;
}

.btn-custom-red {
  background-color: hsl(360, 83%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d11313", endColorstr="#a30f0f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d11313), to(#a30f0f));
  background-image: -moz-linear-gradient(top, #d11313, #a30f0f);
  background-image: -ms-linear-gradient(top, #d11313, #a30f0f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d11313), color-stop(100%, #a30f0f));
  background-image: -webkit-linear-gradient(top, #d11313, #a30f0f);
  background-image: -o-linear-gradient(top, #d11313, #a30f0f);
  background-image: linear-gradient(#d11313, #a30f0f);
  border-color: #a30f0f #a30f0f hsl(360, 83%, 32.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
  font: normal 18px/1.2em "pt-sans", Helvetica, sans-serif;
}

.btn-custom-white {
  background-color: #FDFDFD !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#FDFDFD");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FDFDFD));
  background-image: -moz-linear-gradient(top, #FFFFFF, #FDFDFD);
  background-image: -ms-linear-gradient(top, #FFFFFF, #FDFDFD);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #FDFDFD));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #FDFDFD);
  background-image: -o-linear-gradient(top, #FFFFFF, #FDFDFD);
  background-image: linear-gradient(#FFFFFF, #FDFDFD);
  border-color: #787878 #787878;
  color: #787878  !important;
  -webkit-font-smoothing: antialiased;
  font: normal 18px/1.2em "pt-sans", Helvetica, sans-serif;
}
