





    <h2>Mom's Morning Out Admin Page</h2>
    <h4><a href='#/home'> Go to User Calendar</a></h4>

    <div class='row'>
      <div class='col-md-6'>
        <h4>Create your work day!</h4>

      <!-- Datepicker Calendar starts -->
      <div data-ng-controller='datePickerController'>

        <div class="calendar">
          <p class="input-group">
            <input type="text" uib-datepicker-popup="{{format}}" data-ng-change='changeDate()' class='my-datepicker form-control' data-ng-model="dt" min-date="minDate" max-date="maxDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)" is-open="status.opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" data-ng-required="true" close-text="Close"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" data-ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
      <!-- </div> -->





        <!-- Select start and end times for single day scheduling -->
        <h3>Start Time</h3>
        <strong>{{selectedStartHour}}:{{selectedStartMinute}} {{selectedStartampm}}</strong>

        <label>
          <select data-ng-model="selectedStartHour" data-ng-options="time.id as time.name for time in startHourSelect">
            <option value="">8</option>
          </select>
        </label>

        <label>
          <select data-ng-model="selectedStartMinute" data-ng-options="time.id as time.name for time in startMinuteSelect">
            <option value="">30</option>
          </select>
        </label>

        <label>
          <select data-ng-model="selectedStartampm" data-ng-options="time.id as time.name for time in startampmSelect">
          </select>
        </label>


        <h3>End Time</h3>
        <strong>{{selectedEndHour}}:{{selectedEndMinute}} {{selectedEndampm}}</strong>

        <label>
          <select data-ng-model="selectedEndHour" data-ng-options="time.id as time.name for time in endHourSelect">
            <option value="">12</option>
          </select>
        </label>

        <label>
          <select data-ng-model="selectedEndMinute" data-ng-options="time.id as time.name for time in endMinuteSelect">
            <option value="">30</option>
          </select>
        </label>


        <label>
          <select data-ng-model="selectedEndampm" data-ng-options="time.id as time.name for time in endampmSelect">
          </select>
        </label>
      </br>
      <div class="btn-group calTools">
        <button type="button" class="btn btn-primary btn-custom-green" data-ng-click="addEventToDatabase()">
          Add Event
        </button>
      </div>
    </div>
</div>


  <section>
    <div class="well">
      <div class="row-fluid">

        <div class="span8">
          <uib-tabset>
          <uib-tab select="renderCalender('myCalendar1');">
          <uib-tab-heading>
          <i class="glyphicon glyphicon-calendar"></i> Mom's Morning Out
        </uib-tab-heading>

        <ul class="unstyled">
          <li ng-repeat="e in events">
            <div class="alert alert-info">
              <a class="close" data-ng-click="remove($index)"><i class="icon-remove"></i></a>
              <b> <input data-ng-model="e.title"></b>
              {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
            </div>
          </li>
        </ul>

        <div class="alert-success calAlert" data-ng-show="alertMessage != undefined && alertMessage != ''">
          <p class=" lead">Available: &nbsp;</p>
          <h4 data-ng-repeat='slots in showAvailableSlots track by $index' data-ng-model='this.slots'> &nbsp;{{alertMessage}} {{slots}}  <button class='btn btn-success' data-ng-click="reserve()">Reserve</button></h4>
        </div>
        <div class="btn-toolbar">
          <!-- <p class="pull-right lead">Available: &nbsp;</p> -->
          <div class="btn-group">
            <button class="btn btn-success btn-custom-green" data-ng-click="changeView('agendaDay', 'myCalendar1')">Day</button>
            <button class="btn btn-success btn-custom-green" data-ng-click="changeView('agendaWeek', 'myCalendar1')">Week</button>
            <button class="btn btn-success btn-custom-green" data-ng-click="changeView('month', 'myCalendar1')">Month</button>
          </div>
        </div>
        <div class="calendar" data-ng-click="changeView('month', 'myCalendar1')" data-ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
</div>




</section>

 <!-- <div>SCHEDULE: {{query.schedule}}</div>
    </br></br>
    <a href="" ng-click='changeSlots()'>{{query.slots}}</a></div> -->
    <!-- </br></br> -->
    <!-- <div>DATE: {{query.time.timeStamp | date:'MM dd yyyy'}}</div> -->
  <!-- <ul ng-repeat='prop in query track by $index'>
    <li> <a href="" ng-click='changeSlots(prop)'>{{prop}}</a></li>

  </ul>
</div> -->

<!-- Disable days of the week -->
<!-- <div class='row'>
  <div class='col-md-6'>
    <form class='form'>
      <h3>Check box to enable a schedule for  that day of the week</h3>
      <div class="form-group">
        <label form="date">Date</label>
        <input type="text" ng-model='payload.timeStamp' class="form-control" id="datefield" value="{{dt | date:'fullDate' }}" required>
      </div>
      <div class="form-group">
        <label class="checkbox-inline">
          <input type="checkbox" name="favoriteColors" ng-model="formData.sunday"> Sunday
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="favoriteColors" ng-model="formData.monday"> Monday
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="favoriteColors" ng-model="formData.tuesday"> Tuesday
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="favoriteColors" ng-model="formData.wednesday"> Wednesday
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="favoriteColors" ng-model="formData.thursday"> Thursday
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="favoriteColors" ng-model="formData.friday"> Friday
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="favoriteColors" ng-model="formData.saturday"> Saturday
        </label>
      </div>
      <button ng-click='disabled()' type="submit" class="btn btn-danger btn-lg">Send Changes</button>
    </form>
  </div>
</div>
-->
