 <form class='form'>
            <h4>Delete Your Account</h4>

            <div class="form-group">
                <label form="email">Email</label>
                <input type="text" ng-model='deleteUserEmail' class="form-control" id="email" placeholder="Enter your email..." required>
            </div>
            <div class="form-group">
                <label form="password">Password</label>
                <input type="text" ng-model='deleteUserPassword' class="form-control" id="password" placeholder="Enter your password..." required>
            </div>
            <button ng-click='deleteUser()' type="submit" class="btn btn-default">Submit</button>

        </form>

        <hr>

<p><a href='#/login'>Back to login</a></p>
