 <form class='form'>
    <h4>Sign In</h4>

    <div class="form-group">
        <label form="email">Email</label>
        <input type="text" ng-model='enterEmail' class="form-control" id="email" placeholder="Enter your email..." required>
    </div>
    <div class="form-group">
        <label form="password">Password</label>
        <input type="text" ng-model='enterPassword' class="form-control" id="password" placeholder="Enter your password..." required>
    </div>
    <!-- <a href='#/' ng-if='!authData'> -->
    <button ng-click='signInUser()' type="submit" class="btn btn-default">Submit</button>
    <!-- </a> -->
    <p>Reset your Password <a href='#/resetpassword'>Here</a></p>
</form>

<hr>

<div class="message-section" ng-show="success">
 <p class="alert alert-info" role="alert" ng-model="message">{{message}}</p>
</div>

<h4>Don't have an account? <a href='#/signup'>Sign Up Here</a></h4>
