 <form class='form'>
            <h4>Reset your password</h4>

            <div class="form-group">
                <label form="email">Please enter the email address you signed up with</label>
                <input type="text" ng-model='passwordResetEmail' class="form-control" id="email" placeholder="Enter your email..." required>
            </div>

            <button ng-click='passwordReset()' type="submit" class="btn btn-default">Submit</button>
        </form>

        <hr>

<p><a href='#/login'>Back to login</a></p>
