<h1>User Page</h1>
<p><a href='#/admin'> Go to Admin Calendar</a></p>

<button ng-click='reserve()' type="submit" class="btn btn-danger btn-lg">Schedule Appt</button>
</form>

<!-- Start of UI Calendar -->
<section>
  <div class="well">
    <div class="row-fluid">
      <div class="span4">

        <ul class="unstyled">
          <li ng-repeat="e in events">
            <div class="alert alert-info">
              <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
              <b> <input ng-model="e.title"></b>
              {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
            </div>
          </li>
        </ul>
      </div>

      <div class="span8">
        <uib-tabset>
        <uib-tab select="renderCalender('myCalendar1');">
        <uib-tab-heading>
        <i class="glyphicon glyphicon-bell"></i> Calendar One
      </uib-tab-heading>
      <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
        <h4>{{alertMessage}}</h4>
      </div>
      <div class="btn-toolbar">
        <p class="pull-right lead">Calendar View Options</p>
        <div class="btn-group">
          <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
          <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
          <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
        </div>
      </div>
      <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
    </uib-tab>
  </uib-tabset>
</div>
</div>
</div>
</section>
